<div class="body" >
    <!-- <div class="container" >
        <div class="row box"  >
          <div class=" col-lg-3" ></div>
          <div class=" col-lg-3" ></div>
          <div class=" col-lg-3" ></div>
        </div>
    </div> -->
    
<div class="card">
<!-- <div class="trial "  style="border: 1px solid black;">
    <div style="text-align:left; color: white;font-family: cursive;font-weight: bold;" >

        <h3>UPDATE PROFILE</h3>
          
                
    </div> -->

<form class="form"   #trainerupdate="ngForm" (ngSubmit)="editProfile()">
    <div class="card-header" style=" color:white ;font-weight: bold;font-size: 30px;">
        {{title}}
    </div>
    <div class="card-body" style= "background-color: rgba(0, 0, 0, 0.486);  height: 120vh;width:50%;"  >
        <div class="table-responsive" >
        <table class="table" style=" color: white; font-weight: bold; font-family: cursive;">
            <tbody>
                
                <!-- <tr>
                    <td><label>Full Name</label></td>
                    <td><input type="text" class="form-control" placeholder="Full Name" name="name"  [(ngModel)]="Profile.name" required></td>
                </tr> -->
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="text" class="form-control" placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required [(ngModel)]="Profile.email"></td>
                </tr>
                <tr>
                    <td><label>Phone Number</label></td>
                    <td><input type="text" class="form-control" placeholder="Phone Number" name="phone" pattern="^((\\+91-?)|0)?[0-9]{10}$" [(ngModel)]="Profile.phone" required></td>
                </tr>
                <tr>
                    <td><label>Address</label></td>
                    <td><input type="text"class="form-control" placeholder="Address" name="address" [(ngModel)]="Profile.address" required></td>
                </tr>
                <tr>
                    <td><label>Highest Qualification</label></td>
                    <td><input type="text" class="form-control" placeholder="Highest Qualification" name="quali" [(ngModel)]="Profile.highestQualification" required></td>
                </tr>
                <tr>
                  <td><label>Skill Sets</label></td>
                  <td><input type="text" class="form-control" placeholder="Skill Sets" name="skillSet" [(ngModel)]="Profile.skillSet" required></td>
              </tr>
              <!-- <tr>
                <td><label>Company Name</label></td>
                <td><input type="text" class="form-control" placeholder="Company Name" name="companyName" [(ngModel)]="Profile.companyName" required></td>
            </tr>
            <tr>
              <td><label>Designation</label></td>
              <td><input type="text" class="form-control" placeholder="Designation" name="designation" [(ngModel)]="Profile.designation" required></td>
          </tr> -->
          <!-- <tr>
          <td><label>ICTAK Course Handling</label></td>
          <select class="form-control" type="course" name="course"  id="course"  [(ngModel)]="Profile.course" required >
            <option value="" >Select course</option>
             
            <option *ngFor="let i of courses" value={{i.name}}>{{i.name}}</option>
          </select>
      </tr> -->
      <tr>
        <td><label>Image</label></td>
        <img [src]="Profile.imagepath" alt="" class="rounded-circle" width="250" height="250">
        <input type="file" (change)="submitImage($event)"     accept="image/*" required>
        <img src={{url}}  alt="" style="width: 100px; height: 100px; margin-top: 5%;">
        <br>
    </tr>
                <tr>
                    <td></td>
                    <!-- <td><input *ngIf="authservice.loggedUser()" type="submit" value="UPDATE PROFILE"> </td> -->
                   <td> <button class="btn btn-success" style="cursor:pointer" *ngIf="authservice.loggedUser()"  [disabled]="trainerupdate.form.invalid"  >UPDATE</button> </td>

                   <td> <button  class="btn btn-danger" style="cursor:pointer" *ngIf="authservice.loggedUser()" (click)="cancel(Profile)"  > CANCEL</button> </td>
                  
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</form>
</div>
</div>