<div class="container-fluid col-md-5 col-xl-4 colorWhite g-0"></div>
<!-- <div class="row bgcolorBlue justify-content-center mb-1 rounded"> -->
<div class="body" style="background-color: rgb(22, 22, 24);">
    <div class="container" style="padding: 20px;">
    
    <div class="row">
        <div class="col-lg-1"></div>
    <div class="col-lg-5">
    <div class="card" style="background-color: rgba(0, 0, 0, 0.685); height: 100vh;width: 100%; ">
        <div class="card-header" style="font-family: cursive; text-align: center; color: white; font-size: 30px; font-weight: bolder; padding: 20px;">
           COURSES
    
        </div>
    <div class="card-body" >
        <div class="table-responsive" >
            <table class="table" style="color: white; font-weight: bold;" >
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Course ID</th>
    
                        <th>Batch</th>
                        <th>Action</th>
                      
    
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor='let i of batches'>
                                                   <!-- Interpolation -->
                            <td >{{i.course}}</td>
                            <td >{{i.courseid}}</td>
    
                            <td >{{i.name}}</td>
    
                           <!-- <td><button class = "btn btn-success"  style="margin-left: 20px;">EDIT</button></td> -->
                          <td><button class = "btn btn-outline-light" (click)="deleteCourse(i)" style="margin-left: 20px; transition-duration: 0.4s; color:white; ">DELETE</button></td>
                          <!-- <td><button class = "btn btn-warning" (click)="editProduct(i)" *ngIf='auth.loggedIn()'  style="margin-left: 20px;">EDIT</button></td>
                             <td><button class = "btn btn-warning" (click)="deleteProduct(i)" *ngIf='auth.loggedIn()' style="margin-left: 20px;">DELETE</button></td> -->
    
                        </tr>
                    </tbody>
             
    </table>
           
    
        </div>
    
    </div>
    </div>
    </div>
    <div class="col-lg-5">
        <div class="col-lg-1"></div>
    
       
    <!-- add course -->
    <div class="login-box">
        <h2  style="font-family:cursive;
        font-weight:bold; font-size: 25px;">ADD COURSES</h2>
        <form [formGroup]="courseForm" (ngSubmit)="newCourse()" >
         
           
            <!-- <br>
               <h2 style="text-align: center;color: white;" >Add Course</h2><br> -->
             
                
               <div class="user-box">
                <input type="text" id="course" required="" class="form-control" name="course"  [(ngModel)]="batch.course" formControlName="course"  >
                 <label style="font-family: 'Merriweather', serif; font-size:15px;color: white; font-weight: bold;" for="course" >Course</label>

                
                 <!-- <fa-icon [icon]="faMapMarkerAlt" style="position: relative;
                 top: -30px;  right: 30px;"></fa-icon> -->
                 <div *ngIf="(f.course.touched||f.course.dirty) && f.course.errors"> 
                    <small class="text-danger" *ngIf="f.course.errors.required">course required</small>
         
                 </div>
                 <small class="text-danger" *ngIf="f.course.dirty && f.course.hasError('whitespace')"  >Enter valid course</small>
         
               </div>
               <div class="user-box">
                <input type="text" id="courseid" required="" class="form-control" name="courseid"  [(ngModel)]="batch.courseid" formControlName="courseid"  >
                <label style="font-family: 'Merriweather', serif; font-size:15px;color: white; font-weight: bold;" for="courseid" >Course ID</label>

                <!-- <fa-icon [icon]="faMapMarkerAlt" style="position: relative;
                top: -30px;  right: 30px;"></fa-icon> -->
                <div *ngIf="(f.courseid.touched||f.courseid.dirty) && f.courseid.errors"> 
                   <small class="text-danger" *ngIf="f.courseid.errors.required"  >course id required</small>
        
                </div>
                <small class="text-danger" *ngIf="f.courseid.dirty && f.courseid.hasError('whitespace')"  >Enter valid course id</small>
        
              </div>
               
              <div class="user-box">
                <!-- <input type="text" id="batch" class="form-control" name="batch"  [(ngModel)]="batch.name" formControlName="batch"  > -->
                <input type="text"  required=""  id="batch" class="form-control" name="batch"  [(ngModel)]="batch.name" formControlName="batch">
                <label style="font-family: 'Merriweather', serif; font-size:15px;color: white; font-weight: bold;" for="batch" >Batch</label>

                 <!-- <fa-icon [icon]="faUserGraduate" style="position: relative;
                 top: -30px; left: 10px;"></fa-icon> -->
                 <div *ngIf="(f.batch.touched||f.batch.dirty) && f.batch.errors"> 
                 <small class="text-danger" *ngIf="f.batch.errors.required"  > require field</small>
         
                 </div>
                 <small class="text-danger" *ngIf="f.batch.dirty && f.batch.hasError('whitespace')" >Enter valid details</small>
         
               </div>
                      
               
                
                <div  style="padding-left: 45%; padding-top: 5%;">
                  <button id="btn1" [disabled]="courseForm.invalid" class="btn btn-silver" style="color:black;font-weight: bold;">Add</button>
                </div>

             
          
               
           </form>
    </div>
    
    </div>
    </div>
    </div>
    </div>
