.card {
    background-image: url('../../assets/img/ICT_1MAGE.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .banner-main {
    background-image: url('../../assets/img/ICT_1MAGE.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  